donor_app/src/main/mule/donors_flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="donors_processFlow" doc:id="2822bafc-1744-4418-a53d-cb86e77ac49f" >
		<flow-ref doc:name="create_varsFlow" doc:id="b854115c-acfb-4468-8918-ee4145571b52" name="create_varsFlow"/>
		<flow-ref doc:name="generateSearchQueryParamsFlow" doc:id="66370202-8970-456e-87a2-405edeb5e0f0" name="generateSearchQueryParamsFlow"/>
		<db:select doc:name="Select" doc:id="775bc83b-2ddf-48d3-a945-2053c55bbe7e" config-ref="Database_Config" maxRows="100">
			<db:sql >#[&quot; SELECT donors.id as donor_id, donors.name as donor_name, donor_statistics.wu as donor_wu,
donor_statistics.score as donor_score, donor_statistics.rank as donor_rank, donor_statistics.donor_statistic_date as donor_date, donors_teams.teams_id as team_id
FROM folding_home_db.donors
join donor_statistics
on donors.id = donor_statistics.donors_id 
join donors_teams
on donors.id = donors_teams.donors_id $(vars.searchByName) $(vars.searchByTeam)
&quot;]</db:sql>
		</db:select>
		<ee:transform doc:name="create description" doc:id="2b312ad6-4127-46d9-9591-3014035a9b28">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="description"><![CDATA[%dw 2.0
output application/json
fun searchType() =
if(vars.searchType == "like") "similar to "
else if (vars.searchType == "prefix") "start with "
else "is "
fun description(searchType) =
if(payload == []) "No results"
else if(vars.queryName != null and vars.queryTeam != null) ("Name " ++ searchType ++ vars.queryName ++ " -- " ++ "Team '" ++ vars.queryTeam ++ "'")
else if(vars.queryName != null) ("Name " ++ searchType ++ vars.queryName)
else if(vars.queryTeam != null) ("Team '" ++ vars.queryTeam ++ "'")
else "Top 100"
---
description(searchType())]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="generate response" doc:id="d5afafd5-58ae-4806-92f2-a8495937cca8" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  description: vars.description,
  monthly: false,
  results: payload map(value, index)->
    {
      wus: value.donor_wu,
      name: value.donor_name,
      rank: value.donor_rank,
      credit: value.donor_score,
      team: value.team_id,
      id: value.donor_id
    },
 
  month: 2,
  year: 2020,
  query: "donor",
  path: "donors"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
